{% extends 'base.html' %}
{%  block content %}
    <br>
    <div class="row">
        <div class="col-lg-12">
            <h2>信息录入 <small>输入乘务员出乘信息</small></h2>
            <br>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money"></i> 乘务员出乘信息</h3>
                </div>
                <div>
                    <div id="info" >
                        <div class="col-md-4">
                            <input type="text" id="code" tabindex="1" class="form-control" placeholder="代码">
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="name" tabindex="2" class="form-control" placeholder="姓名">
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="train" tabindex="3" class="form-control" placeholder="车次">
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="start_dtp" tabindex="4" class="form-control" placeholder="开车时间" >
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="stop_dtp" tabindex="5" class="form-control" placeholder="停车时间">
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="work_time"  class="form-control" placeholder="出乘时间">
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="work_bonus"  class="form-control" placeholder="出乘补助">
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="in_dtp" tabindex="6" class="form-control" placeholder="进入公寓">
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="out_dtp" tabindex="7" class="form-control" placeholder=" 离开公寓">
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="rest_time"  class="form-control" placeholder="休息时间">
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="rest_bonus"  class="form-control" placeholder="休息补助">
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-default btn-block" tabindex="8" id="jisuan">计算</button>
                        </div>
                        <div class="col-md-2 col-md-offset-6">
                            <input type="text" id="sum_bonus"  class="form-control" placeholder="合计补助">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    <br>
    <br>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> 乘务员出乘信息</h3>
        </div>
        <div class="panel-body">
            <table id="tab" class="table table-bordered">
                <tr id="t1">
                    <td>编码</td>
                    <td>姓名</td>
                    <td>车次</td>
                    <td>开车时间</td>
                    <td>停车时间</td>
                    <td>出乘时间</td>
                    <td>出乘奖金</td>
                    <td>进入公寓</td>
                    <td>离开公寓</td>
                    <td>休息时间</td>
                    <td>休息奖金</td>
                    <td>奖金合计</td>
                </tr>
            </table>
            <div class="col-md-4 col-md-offset-8">
                <button type="submit" class="btn btn-info btn-block" id="submit">提交</button>
            </div>
        </div>
    </div>
    <script language="javascript" type="text/javascript">
        $(document).ready(function (){
            $("#submit").click(function(){
                var html_str = '';
                $('#tab').find('tr').each(function () {
                    $(this).find('td').each(function () {
                        html_str += $(this).text() + ',';
                    });
                });
                $.ajax({
                    type: "post",
                    url: "/add/",
                    data: {"html_data":html_str},
                    dataType: "json",
                    success: function(data){
                        alert("ajax ok");
                        alert(data.html_data);
                    },
                });

            });
            $("#jisuan").click(function (){
                //计算
                var w_time,w_bonus;
                stop1=new Date($("#stop_dtp").val());
                start1 = new Date($("#start_dtp").val());
                w_time=(parseInt(stop1.getTime()-start1.getTime())/(1000*60*60)).toFixed(2);
                w_bonus=(w_time*4).toFixed(2);
                $("#work_time").val(w_time);
                $("#work_bonus").val(w_bonus);
                var r_time,r_bonus;
                out1=new Date($("#out_dtp").val())
                in1 = new Date($("#in_dtp").val());
                r_time=(parseInt(out1.getTime()-in1.getTime())/(1000*60*60)).toFixed(2);
                r_bonus=(r_time*2.5).toFixed(2);
                $("#rest_time").val(r_time);
                $("#rest_bonus").val(r_bonus);
                var s_bonus=parseFloat(w_bonus)+parseFloat(r_bonus);
                $("#sum_bonus").val(s_bonus.toFixed(2));

                //创建tr节点
                var $tr=$("<tr></tr>");
                //遍历获取输入的内容
                $("#info input:text").each(function (index,domEle){
                    //添加td节点
                    var $td=$("<td></td>");
                    //将内容循环添加到创建好的TD中
                    $td.append($(domEle).val());
                    //将td添加到创建好的TR 中
                    $td.appendTo($tr);
                });
                //创建TD--删除
                var $td=$("<td><a href='#' class='del'>删除</a></td>");
                //将内容循环添加到创建好的TD中
                $td.appendTo($tr);
                //将内容循环添加到创建好的TD中
                $tr.appendTo("#tab");
                //执行删除操作
                $(".del").click(function (){
                    $(this).parent().parent().remove();

                });
            });
            $('#start_dtp').datetimepicker({
                language : "zh-CN",
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                keyboardNavigation: true
            });
            $('#stop_dtp').datetimepicker({
                language : "zh-CN",
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                keyboardNavigation: true
            });
            $('#in_dtp').datetimepicker({
                language : "zh-CN",
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                keyboardNavigation: true
            });
            $('#out_dtp').datetimepicker({
                language : "zh-CN",
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                keyboardNavigation: true
            });
        });
    </script>
{% endblock %}

